:root {
    --main-heading-color: #14183E;
    --paragraphe-color: #5E6282;
    --yellow-color: #F1A501;
    --main-title-color: #212832;
    --red-color: #DF6951;
    --book-bg-blue-color: #59B1E6;
    --main-transition-duration: 0.3s;
    --section-padding: 100px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Poppins", sans-serif
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:567px) {
    .container {
        width: 100%
    }
}

@media (min-width:567px) {
    .container {
        width: 540px
    }
}

@media (min-width:768px) {
    .container {
        width: 720px
    }
}

@media (min-width:992px) {
    .container {
        width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        width: 1320px
    }
}

/* Start Components  */
.main-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.main-heading span {
    font-weight: 700;
    color: var(--paragraphe-color);
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main-heading h3 {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Volkhov";
    color: var(--main-heading-color);
}

/* End Components  */


.header-section {
    position: absolute;
    width: 100%
}

.header-section .container .header-content {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-content .logo a {
    color: black;
    display: block;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -2px;
    position: relative
}

.header-content .links {
    display: flex;
    align-items: center;
    position: relative
}

.header-content .links:hover .all-link {
    transform: translateY(0);
    opacity: 1;
    z-index: 1
}

.header-content .links .menu {
    font-size: 1.9rem;
    padding: 0 10px
}

@media (min-width:992px) {
    .header-content .links .menu {
        display: none
    }
}

.header-content .links .all-link,
.header-content .links .all-link>ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.header-content .links .all-link {
    gap: 3rem
}

.header-content .links .all-link>ul {
    gap: 2rem
}

@media (max-width:991px) {
    .header-content .links .all-link {
        width: 500px;
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 6px;
        gap: 0;
        padding-top: 15px;
        background-color: #dfd7f9;
        transform: translateY(3rem);
        opacity: 0;
        z-index: -1;
        box-shadow: 0 10px 12px 0px #0000001a;
        transition: var(--main-transition-duration)
    }

    .header-content .links .all-link ul {
        width: 100%;
        gap: 0;
        text-align: center
    }

    .header-content .links .all-link ul li {
        width: 100%
    }
}

@media (max-width:768px) {
    .header-content .links .all-link {
        width: 400px
    }
}

@media (max-width:567px) {
    .header-content .links .all-link {
        width: 300px
    }
}

.header-content .links .all-link a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: var(--main-title-color);
    transition: var(--main-transition-duration)
}

.header-content .links .all-link a:hover {
    color: black
}

@media (max-width:991px) {
    .header-content .links .all-link a {
        padding: 20px 0;
        width: 100%;
        text-align: center
    }
}

.header-content .links .all-link .sign-up-btn a {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--paragraphe-color)
}

.header-content .links .all-link .change-lang-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px
}

@media (max-width:991px) {
    .header-content .all-link .change-lang-btn i {
        position: absolute;
        right: 10px
    }
}

.header-content .links .all-link .change-lang-btn:hover ul {
    transform: translateY(0);
    opacity: 1;
    z-index: 1
}

.header-content .links .all-link .change-lang-btn ul {
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0px 2px 10px 0px #00000021;
    padding: 0 20px;
    transform: translateY(3rem);
    opacity: 0;
    z-index: -1;
    transition: var(--main-transition-duration)
}

@media (max-width:991px) {
    .header-content .all-link .change-lang-btn ul {
        background-color: #dfd7f9
    }
}

.header-content .links .all-link .change-lang-btn ul a {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 14px
}

@media (max-width:991px) {
    .header-content .all-link>div {
        width: calc(100% / 3);
        display: flex;
        align-items: center;
        justify-content: center
    }

    .header-content .all-link a:hover {
        background-color: #5e62820a
    }
}

.landing-section {
    width: 100%;
    height: 100vh
}

.landing-section .bg-img img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

@media (max-width:991px) {
    .landing-section .bg-img img {
        width: 60%
    }
}

@media (max-width:768px) {
    .landing-section .bg-img img {
        width: 80%
    }
}

@media (max-width:567px) {
    .landing-section .bg-img img {
        width: 100%
    }
}

.landing-section .container {
    height: 100%
}

.landing-section .landing-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.landing-content .content {
    display: flex;
    align-items: center
}

.landing-content .content>div {
    flex: 0 0 50%;
    max-width: 50%
}

@media (max-width:991px) {
    .landing-content .content>div {
        flex: 0 0 100%;
        max-width: 100%
    }
}

.landing-content .content {
    display: flex;
    align-items: center
}

@media (max-width: 768px) {
    .landing-content .content .text {
        text-align: center;
        padding-right: 15px;
    }
}

.landing-content .content .text>span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.2rem;
    color: var(--red-color)
}

.landing-content .content .text h2 {
    font-size: 68px;
    color: var(--main-heading-color);
    font-family: "Volkhov";
    margin-bottom: 2rem
}

.landing-content .content .text p {
    color: var(--paragraphe-color);
    width: 480px;
    line-height: 1.6;
    margin-bottom: 2rem
}

@media (max-width: 567px) {
    .landing-content .content .text>span {
        font-size: 14px;
    }

    .landing-content .content .text h2 {
        font-size: 54px;
        text-wrap: wrap;
    }

    .landing-content .content .text p {
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .landing-content .content .text h2 {
        font-size: 40px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .landing-content .content .text h2 br {
        display: none;
    }
}

.landing-content .content .text .btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
}

@media (max-width: 768px) {
    .landing-content .content .text .btns {
        justify-content: center;
        gap: 1rem;
    }
}

.landing-content .content .text .btns a {
    background: var(--yellow-color);
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: 500
}

.landing-content .content .text .btns div {
    display: flex;
    align-items: center;
    gap: 1rem
}

.landing-content .content .text .btns div i {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red-color);
    border-radius: 50%;
    color: white;
    position: relative
}

.landing-content .content .text .btns div i:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--red-color);
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: play-btn-anim 1.5s infinite;
    animation: play-btn-anim 1.5s infinite
}

.landing-content .content .text .btns div span {
    color: var(--paragraphe-color);
    font-size: 14px
}

.landing-content .content .img img {
    width: 100%
}

@media (max-width:991px) {
    .landing-content .content .img {
        display: none
    }
}

/* Start service section  */
.service-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.service-section .service-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 3rem 0;
    position: relative;
}

@media (min-width: 1200px) {
    .service-section .service-content {
        gap: 4rem;
    }
}

.service-content::before,
.service-content::after {
    content: "";
    width: 100px;
    height: 100px;
    background: var(--red-color);
    border-radius: 21px;
    position: absolute;
    z-index: -17;
}

.service-content::before {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: 0;
    left: 22%;
}

.service-content::after {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 0;
    right: 22%;
}

.service-content .box {
    width: calc(calc(100% - 12rem) / 4);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 20px 20px 0px #00000015;
    border-radius: 10px;
    background-color: white;
}

@media (min-width: 1200px) {
    .service-content .box {
        padding: 4rem 20px;
    }
}

@media (max-width: 1200px) {
    .service-content .box {
        width: calc(calc(100% - 6rem) / 4);
    }
}

@media (max-width: 992px) {
    .service-content .box {
        width: calc(calc(100% - 4rem) / 2);
        box-shadow: 0px 0px 20px 0px #00000010;
    }
}

@media (max-width: 567px) {
    .service-content .box {
        width: 100%;
    }
}

.service-content .box i {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: var(--main-heading-color);
}

.service-content .box span {
    font-weight: 700;
    color: #1E1D4C;
    display: block;
    margin-bottom: 1rem;
}

.service-content .box p {
    text-align: center;
    line-height: 1.6;
    font-size: 14px;
    padding: 0 10px;
    color: var(--paragraphe-color);
}


/* End service section */

/* Start Destinations section  */
.destination-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.destination-section .destination-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
}

.destination-content .box {
    width: 314px;
    height: 457px;
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    position: relative;
    box-shadow: 0px 20px 20px 0px #00000015;
    overflow: hidden;
}

.destination-content .box:first-child {
    background-image: url(../image/Destinations1.jpg);
}

.destination-content .box:nth-child(2) {
    background-image: url(../image/Destinations2.jpg);
}

.destination-content .box:last-child {
    background-image: url(../image/Destinations3.jpg);

}

.destination-content .box .hidden-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    border-radius: 22px;
    text-align: center;
    padding: 2rem;
    padding-top: 6rem;
    transform: translateY(100%);
    transition: 0.5s;
    opacity: 0;
}

.destination-content .box:hover .hidden-content {
    transform: translateY(0);
    opacity: 1;
}

.destination-content .box .hidden-content span {
    font-size: 20px;
    font-weight: 700;
    color: white;
    display: block;
    margin: 1rem 0;
}

.destination-content .box .hidden-content p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #e5e6ec;
}

.destination-content .box .hidden-content .links {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;

}

.destination-content .box .hidden-content .links i {
    width: 50px;
    height: 50px;
    background-color: #E5E5E5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.destination-content .box .hidden-content .links i:hover {
    background-color: var(--red-color);
    color: white;
}

.destination-content .box .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: white;
    color: var(--paragraphe-color);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.destination-content .box .txt>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.destination-content .box .txt>div:first-child {
    justify-content: space-between;
}

.destination-content .box .txt>div:first-child span {
    font-weight: 600;
}

.destination-content .box .txt>div:last-child {
    gap: 1rem;
}

.destination-content .box .txt>div:last-child i {
    color: black;
}

.destination-content .box .txt>div:last-child p {
    font-size: 14px;
}

/* End Destinations section  */
/* Start bookings Section   */
.booking-section {
    padding-bottom: var(--section-padding);
}

@media (min-width: 567px) {
    .booking-section {
        padding-bottom: var(--section-padding);
    }
}

.booking-section .container .booking-content {
    display: flex;
    align-content: center;
}

@media (max-width: 992px) {
    .booking-section .container .booking-content {
        flex-direction: column;
        gap: 4rem;
    }
}

.booking-section .container .booking-content>div {
    flex: 0 0 50%;
    max-width: 50%;
}

@media (max-width: 992px) {
    .booking-section .container .booking-content>div {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .booking-content .left-content .main-heading {
        text-align: start;
    }
}

.booking-content .left-content .main-heading h3 {
    font-size: 50px;
}

.booking-content .left-content .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 400px;
}

@media (max-width: 991px) {
    .booking-content .left-content .box {
        margin: auto;
    }
}

@media (max-width: 567px) {
    .booking-content .left-content .box {
        width: 100%;
    }
}

.booking-content .left-content .box:not(:last-child) {
    margin-bottom: 2rem;
}

.booking-content .left-content .box i {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 22px;
}

.booking-content .left-content .box.yellow i {
    background-color: var(--yellow-color);
}

.booking-content .left-content .box.red i {
    background-color: var(--red-color);
}

.booking-content .left-content .box.blue i {
    background-color: var(--book-bg-blue-color);
}


.booking-content .left-content .box span {
    font-weight: 600;
    color: var(--paragraphe-color);
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}

.booking-content .left-content .box p {
    color: var(--paragraphe-color);
    font-size: 14px;
}

.booking-content .right-content .box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 10px 20px 20px #00000005;
    position: relative;
    -webkit-animation: top-down 2s linear infinite alternate;
    animation: top-down 2s linear infinite alternate;
}

.booking-content .right-content .box>img {
    width: 100%;
}

.booking-content .right-content .box h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 8px;
}

.booking-content .right-content .box>div {
    font-size: 14px;
    color: var(--paragraphe-color);
    margin-bottom: 1rem;
}

.booking-content .right-content .box .icon {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.booking-content .right-content .box .icon i {
    background: #F5F5F5;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-content .right-content .box .people {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-content .right-content .box .people i {
    font-size: 18px;
}

.booking-content .right-content .box .second-box {
    background-color: #ffffff;
    padding: 1rem;
    width: 70%;
    position: absolute;
    top: 55%;
    right: -32%;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px #0000000f;
}

@media (max-width: 768px) {
    .booking-content .right-content .box .second-box {
        width: 60%;
        right: -20%;
    }
}

@media (max-width: 567px) {
    .booking-content .right-content .box .second-box {
        width: 60%;
        top: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.booking-content .right-content .second-box img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50%;
    margin-right: 10px;
}

.booking-content .right-content .box-content {
    width: 100%;
}

.booking-content .right-content .second-box .box-content>span {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.booking-content .right-content .second-box .box-content>h6 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.booking-content .right-content .second-box .box-content .prog-box>p {
    color: black;
}

.booking-content .right-content .second-box .box-content .prog-box>p span {
    color: var(--paragraphe-color);
}

.booking-content .right-content .second-box .box-content .prog-box .prog {
    height: 5px;
    background-color: #F5F5F5;
    margin-top: 0.5rem;
    border-radius: 4px;
    overflow: hidden;
}

.booking-content .right-content .second-box .box-content .prog-box .prog span {
    background-color: #8A79DF;
    height: 100%;
    display: block;
}

/* end bookings Section   */
/* Start Testimonials Section  */
.testimonial-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.testimonial-section .testimonial-content .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.testimonial-content .row>div {
    flex: 0 0 50%;
    max-width: calc(50% - 1.5rem);
}

@media (max-width: 992px) {
    .testimonial-content .row>div {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.testimonial-content .row .col:last-child {
    position: relative;
}

@media (min-width: 992px) {
    .testimonial-content .row .col:first-child .main-heading {
        text-align: start;
    }
}

.testimonial-content .row .col:first-child>div:last-child {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 992px) {
    .testimonial-content .row .col:first-child>div:last-child {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }
}

.testimonial-content .row .col:first-child>div:last-child span {
    width: 12px;
    height: 12px;
    background: #E5E5E5;
    border-radius: 50%;
}

.testimonial-content .row .col:first-child>div:last-child span:first-child {
    background-color: #39425D;
}



.testimonial-content .row .col:last-child .box {
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0px 20px 20px #00000014;
    position: relative;
    background-color: white;
}



.testimonial-content .row .col:last-child .box:first-child {
    z-index: 2;
}

.testimonial-content .row .col:last-child .box .img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: -50px;
    left: -30px;
}

@media (max-width: 567px) {
    .testimonial-content .row .col:last-child .box .img {
        top: -50px;
        left: -20px;
    }
}

.testimonial-content .row .col:last-child .box p.main-para {
    font-size: 16px;
    color: var(--paragraphe-color);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.testimonial-content .row .col:last-child .box span {
    font-weight: 600;
    color: var(--paragraphe-color);
    display: block;
    margin-bottom: 5px;
}

.testimonial-content .row .col:last-child .box p:last-child {
    font-size: 14px;
    font-weight: 500;
    color: var(--paragraphe-color);
}

.testimonial-content .row .col:last-child .box.not-active {
    position: absolute;
    left: 10%;
    top: 40%;
    z-index: 1;
    overflow: hidden;
}

.testimonial-content .row .col:last-child .box.not-active::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #0000000a;
}

/* End Testimonials Section  */
/* Start Logos Section  */
.logos-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.logos-section .logos-content .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logos-content .row img {
    transition: var(--main-transition-duration);
}

.logos-content .row img:hover {
    transform: translateY(-0.5rem);
}

/* End Logos Section  */
/* Start Subscribe Section  */
.subscribe-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}

.subscribe-section .subscribe-content .box {
    padding: 3rem;
    background-color: #DFD7F9;
    border-radius: 1rem;
    border-top-left-radius: 70px;
    position: relative;
    overflow: hidden;
}

.subscribe-content .box .bg-mask {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.subscribe-content .box .bg-mask-rotate {
    position: absolute;
    left: 0;
    transform: rotate(180deg);
    bottom: 0;
    z-index: 0;
}

.subscribe-content .box h3 {
    color: #5E6282;
    font-size: 2rem;
    line-height: 54px;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

@media (max-width: 992px) {
    .subscribe-content .box h3 {
        font-size: 1.5rem;
    }

    .subscribe-content .box h3 br {
        display: none;
    }
}

@media (max-width: 567px) {
    .subscribe-content .box h3 {
        font-size: 1rem;
        text-align: start;
        line-height: 30px;
    }
}

.subscribe-content .box form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .subscribe-content .box form {
        gap: 1rem;
    }
}

.subscribe-content .box div {
    position: relative;
}

.subscribe-content .box div i {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 23px;
    color: #C4C4C4;
}

@media (max-width: 768px) {
    .subscribe-content .box div i {
        font-size: 20px;
    }
}

.subscribe-content .box form input {
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
    border: noe;
    outline: none;
    border: none;
    font-weight: 600;
}

.subscribe-content .box form div input {
    padding-left: 4rem;
}

.subscribe-content .box form>input {
    padding: 1rem 2rem;
    background: var(--red-color);
    color: white;
}

@media (min-width: 567px) {
    .subscribe-content .box form div input {
        width: 100%;
    }
}

@media (min-width:768px) {
    .subscribe-content .box form {
        gap: 1rem;
    }

    .subscribe-content .box form div input {
        width: 420px;
    }

    .subscribe-content .box form input {
        height: 64px;
    }
}

/* End Subscribe Section  */
/* Start Footer Section  */
.footer-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.footer-section .footer-content .row {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-content .row .col span {
    font-size: 44px;
    color: var(--main-heading-color);
    display: block;
    margin-bottom: 1rem;
}

.footer-content .row .col p {
    font-size: 14px;
    line-height: 1.4;
    color: var(--paragraphe-color);
}

.footer-content .row .col h4 {
    font-size: 21px;
    margin-bottom: 2rem;
}

.footer-content .row .col ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content .row .col ul a {
    color: var(--paragraphe-color);
    transition: var(--main-transition-duration);
}

.footer-content .row .col ul a:hover {
    color: var(--main-heading-color);
}

.footer-content .row .col .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer-content .row .col .links i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px #0000001a;
    transition: var(--main-transition-duration);
}

.footer-content .row .col .links i:hover {
    background-color: #E5E5E5;
}

@media (max-width: 991px) {

    .footer-content .row .col:first-child,
    .footer-content .row .social-link {
        text-align: center;
        width: 100%;
    }

    .footer-content .row .social-link .links {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .footer-content .row {
        flex-direction: column;
        text-align: center;
    }
}

.footer-content>p {
    text-align: center;
    color: var(--paragraphe-color);
    padding: 3rem 0;
    line-height: 1.5;
}

.footer-content>p a {
    font-weight: 700;
    color: var(--red-color);
    font-size: 18px;
    transition: var(--main-transition-duration);
}

.footer-content>p a:hover {
    color: #ff2f04;
}

/* End Footer Section  */

@-webkit-keyframes play-btn-anim {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: scale(2)
    }
}

@-webkit-keyframes play-btn-anim {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: scale(2)
    }
}

@keyframes play-btn-anim {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: scale(2)
    }
}

@-webkit-keyframes top-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1rem);
    }
}

@keyframes top-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1rem);
    }
}
}
}
}
